.contenido-card2{
	width: 100%;
	height: 1000px;
	align-content: center;
	display: block;
	float: left;
}
.promo-left{
	width: 800px;
	height: 900px;
	margin-left: 400px;	
	float: left;
}
.promo-right{
	width: 600px;
	height: 900px;
	margin-right:  60px;	
	float: right;
}
.text-left{
	margin-top: 70px;
	margin-left: 150px;
	color: black;
	font-size: 55px;
	font-family: monospace;
	font-style: oblique;
	line-height: 1em;
	background-color: #D3D3D3;
	opacity: 0.75;
	border-radius: 15px;
	text-shadow: 4px 4px 1px white;
	justify-content: space-between;
}
.text-right{
	color: white;
}

@keyframes mover{
    0%{
        transform: translate(-100%);
        opacity: 0.2;
    }
}

@keyframes mover2{
    100%{
        transform: translate(100%);
        opacity: 0.2;
    }
}

	/*2d2e83 eef8fe dedc00 */
.text-card1{
	font-family: monospace;
	font-style: oblique;
	color: #eef8fe;
	margin-left: 850px;
	justify-content: space-between;
	background-color: grey;
	width: 1000px;
	opacity: 0.75;
	line-height: 1em;
	text-shadow: 3px 3px 1px black;
	border-radius: 15px;
	font-style: italic;

}
.contenido-card1{
	width: 100%;
	height: 1000px;
	align-content: center;
	display: block;
	float: right;
	margin-top: 350px;
}
